<!DOCTYPE html>
    <head>
        <title>NBA: Career Duration</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <p style="background-image: url('https://cdn.nba.com/manage/2022/04/Draft22-logo-bluebackgrd.png')" alt="Draft22">
    </head>
    <body>    
    <div class="card mx-4 mx-md-5 shadow-4-strong">
            <div class= "py-4 px-md-4">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6">
                        <h2 class="fw-bold mb-5 text-center">NBA: Career Duration</h2>
                        <form action="predicao" method="POST">
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <label for="gp" class="form-label">Partidas disputadas</label>
                                        <input type="number" min="0" max="82" id="gp" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <label for="pts" class="form-label">Pontos Por Jogo</label>
                                        <input type="number" min="0" id="pts" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <label for="fg" class="form-label">Aprov. de arremessos de quadra</label>
                                        <input type="number" min="0" id="fg" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <label for="ft" class="form-label">Aprov. em Arremessos Livres</label>
                                        <input type="number" min="0" id="ft" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <label for="reb" class="form-label">Média de rebotes por jogo</label>
                                        <input type="number" min="0" id="reb" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <label for="ast" class="form-label">Média de assistências por jogo</label>
                                        <input type="number" min="0" id="ast" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <label for="stl" class="form-label">Média de roubos de bola por jogo</label>
                                        <input type="number" min="0" id="stl" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <label for="blk" class="form-label">Média de tocos por jogo</label>
                                        <input type="number" min="0" id="blk" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <label for="tov" class="form-label">Erros por jogo</label>
                                        <input type="number" min="0" id="tov" class="form-control" />
                                    </div>
                                </div>
                            </div>                                                      
                            <button class="btn btn-secondary btn-block my-4" type="submit" >Enviar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>